body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 30px;
}
p{
    color: dimgray;
}
.name-color{
    color: dodgerblue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
}
section{
    height: 500px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(13, 86, 197),rgb(64, 170, 231));
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(255, 94, 0), rgb(250, 207, 127));
    border-image-slice: 1;
}
#full-stock{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(2, 74, 182), rgb(133, 203, 250));
    border-image-slice: 1;
}
footer{
    text-align: center;
}
#exp{
    margin-left: 4.75%;
}